body {
    text-align: center;
    color: white;
    background-size: cover;
    margin-top: 2rem;
}

img {
    width: 10rem;
    height: 10rem;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#text {
    display: inline-block;
}

h1 {
    margin: 5rem 0;
    transition: all;
}

.project-image {
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
}

.project-detail-list {
    list-style: none;
    text-align: left;
    padding: auto;
}